# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================
# My ignores
# =========================
.gitignore
.gitattributes
LeukocyteGUI_for_oclHashCat/bin/Debug/CrackTasks.bin
LeukocyteGUI_for_oclHashCat/bin/Debug/Dictionaries.bin
LeukocyteGUI_for_oclHashCat/bin/Debug/Masks.bin
LeukocyteGUI_for_oclHashCat/bin/Debug/logs/*.*
LeukocyteGUI_for_oclHashCat.Tests/bin/Debug/oclHashcat.log
LeukocyteGUI_for_oclHashCat.Tests/bin/Debug/oclHashcat.pot
LeukocyteGUI_for_oclHashCat/bin/Debug/oclHashcat.log
LeukocyteGUI_for_oclHashCat/bin/Debug/oclHashcat.pot
LeukocyteGUI_for_oclHashCat/bin/Debug/0000000002.log
LeukocyteGUI_for_oclHashCat/bin/Debug/000000001.log
*.restore